{{ define "main" }}
<main aria-role="main">
    
    <div>
        {{ partial "home/profile.html" .}}
        <h1>{{ .Site.Title }}</h1>
        {{- with .Site.Params.homeSubtitle }}
        <p>{{.}}</p>
        {{- end }}

        {{- with .Site.Params.social }}
        <div>
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
    </div>
</div>
</main>
{{ end }}